/* Header Home Page */

/* Layout flexibile con navbar fixed */
body {
    padding-top: 70px; /* Spazio per la navbar fixed */
        background-image: url('/Media/Fireworks.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Il main prende tutto lo spazio disponibile */
main {
    min-height: calc(100vh - 70px); /* Altezza minima meno navbar */
}

/* Stile per il dropdown del logout */
.dropdown-item form button {
    background: none; 
    border: none;
    color: inherit;
    width: 100%;
    text-align: left;
    padding: 0;
    font-size: inherit;
}

.dropdown-item:hover {
    text-decoration: underline;
}